[submodule "librfxcodec"]
	path = librfxcodec
	url = https://github.com/team-unstablers/librfxcodec.git
	branch = .
	ignore = untracked

[submodule "libpainter"]
	path = libpainter
	url = https://github.com/neutrinolabs/libpainter.git
	branch = .
	ignore = untracked
[submodule "ulalaca"]
	path = ulalaca
	url = https://github.com/team-unstablers/ulalaca-xrdp.git
